<h1> Create a new Booking </h1>
<%= form_for(@booking) do |f| %>

    
    <%= f.collection_select :appliance_id, Appliance.where(availability: true), :id, :appliance_name %>
    <%= f.submit %>
<% end %>

<% if flash[:errors] %>
    <%= flash[:errors] %>
<% end %>